<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.mapper.BackgroundUserMapper">
  <resultMap id="BaseResultMap" type="com.example.car.model.BackgroundUser">
    <!--@mbg.generated-->
    <!--@Table background_user-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="name" property="name" />
    <result column="phone" property="phone" />
    <result column="address" property="address" />
    <result column="email" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, `name`, phone, address, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from background_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from background_user
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.car.model.BackgroundUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into background_user (username, `password`, `name`, phone, address, email)
    values (#{username}, #{password}, #{name}, #{phone}, #{address}, #{email})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.car.model.BackgroundUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into background_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="email != null">
        #{email},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.car.model.BackgroundUser">
    <!--@mbg.generated-->
    update background_user
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.car.model.BackgroundUser">
    <!--@mbg.generated-->
    update background_user
    set username = #{username},
      `password` = #{password},
      `name` = #{name},
      phone = #{phone},
      address = #{address},
      email = #{email}
    where id = #{id}
  </update>
</mapper>
